@import "./bootstrap.min.css";
@import "./owl.carousel.min.css";
@import "fonts.css";
h1 {
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 56px;
}
@media (min-width: 992px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
@media (min-width: 992px) {
  p {
    font-size: 16px;
  }
}

.text-white {
  color: #FFFFFF;
}

.text-secondary {
  color: #6B6A6A !important;
}

.text-dark {
  color: #000000 !important;
}

.bg-muted {
  background-color: #F0F0F0 !important;
}

.bg-primary {
  background-color: #4C6E94 !important;
}

.bg-secondary {
  background-color: #383838 !important;
}

.rounded {
  border-radius: 5px !important;
}

.border-end {
  border-right: 1px solid #000000 !important;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.py-90px {
  padding: 90px 0;
}
@media (max-width: 768px) {
  .py-90px {
    padding: 60px 0;
  }
}

.img-object-fit-contain {
  object-fit: contain;
}

body {
  font-family: "Roboto";
  background-color: #F0F0F0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.hero {
  position: relative;
  padding: 140px 0;
  min-height: 500px;
}
.hero .bg-image {
  background: url("../images/main.png") center no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  z-index: -1;
}
.hero .hero-mobile-decor {
  position: absolute;
  right: 80px;
  bottom: -25px;
}
@media (max-width: 576px) {
  .hero .hero-mobile-decor {
    right: 15px;
  }
}

.footer a {
  display: block;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
}
@media (min-width: 992px) {
  .footer a {
    font-size: 16px;
  }
}

.btn-primary {
  font-weight: 400;
  font-size: 18px;
  padding: 10px 26px;
  color: #FFFFFF;
  background: #3C83CB;
  border: none;
}
.btn-primary:hover {
  background-color: #4C6E94;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none !important;
}

.navbar {
  padding: 17px 0;
}
.navbar .navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar a {
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
}
.navbar a:hover {
  color: #F0F0F0;
}
@media (min-width: 992px) {
  .navbar a {
    font-size: 16px;
  }
}
.navbar .navbar-brand-img {
  height: 24px;
}
.navbar.main-navbar.scrolled {
  background-color: #383838;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  font-size: 12px;
  padding: 0 8px;
  display: inline-block;
}
@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
  }
}
.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 600;
  color: #F0F0F0;
}
.navbar-light .navbar-nav .nav-link .hover-effect {
  position: relative;
}
.navbar-light .navbar-nav .nav-link .hover-effect:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #3C83CB;
  transition: 0.5s;
  position: absolute;
  bottom: -9px;
}
.navbar-light .navbar-nav .nav-link .hover-effect:hover:after {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #000000 !important;
  font-weight: 700;
  width: 100%;
}
.navbar-light .navbar-nav .nav-link.active .hover-effect::after {
  width: 100%;
}

@media (max-width: 992px) {
  .navbar-light .navbar-nav {
    margin-top: 20px;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 15px;
  }
  .navbar-light .navbar-nav .nav-link .hover-effect:after {
    display: none;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler .toggler-expanded {
  display: block;
}
.navbar-toggler .toggler-collapsed {
  display: none;
}
.navbar-toggler.collapsed .toggler-expanded {
  display: none;
}
.navbar-toggler.collapsed .toggler-collapsed {
  display: block;
}

.navbar .navbar-toggler,
.navbar .navbar-brand {
  z-index: 1000;
}
@media (max-width: 992px) {
  .navbar .navbar-collapse {
    color: #FFFFFF;
    background-color: #383838;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center !important;
  }
  .navbar .navbar-collapse.show {
    opacity: 1.5;
  }
  .navbar .navbar-collapse.collapse {
    opacity: 0;
    display: flex;
    pointer-events: none;
  }
  .navbar .navbar-collapse.collapsing[style*=height] {
    opacity: 1;
    height: 100vh !important;
  }
  .navbar .navbar-collapse.collapsing {
    opacity: 0;
    height: 100vh;
  }
  .navbar .navbar-collapse.collapse.show {
    opacity: 1;
    pointer-events: auto;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-right: initial !important;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.services {
  background-color: #4C6E94;
  clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 90%);
  padding: 95px 0;
}
@media (max-width: 768px) {
  .services {
    clip-path: polygon(0% 8%, 100% 0%, 100% 100%, 0% 92%);
  }
}

.partners {
  background-color: #FFFFFF;
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  padding: 115px 0 70px;
}
@media (max-width: 768px) {
  .partners {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 95%);
  }
}
.partners img {
  height: 40px;
  filter: grayscale(1);
  opacity: 0.8;
}
.partners img:hover {
  filter: none !important;
}

/*# sourceMappingURL=style.css.map */
